* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common style */

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.color-orange {
  color: #fd6e0a;
}
.menu .btn {
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  background-color: #fd6e0a;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Main style */

/* header section */
header {
  background-color: #fff8f3;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1920px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 51px;
}
.menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
